.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: #353434;
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#topcontainer {
  display: flex;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
}
#details,
#authentication {
  display: flex;
  gap: 20px;
}
#afterloggedin{

  display: none;
  gap: 20px;
}
#herosection {
  display: flex;
  justify-content: space-around;
  background-color: #1c1c1c;
  color: white;
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
  margin-left: 50px;
}
.leftcontainer {
  background-color: #1c1c1c;
  padding-left: 30px;
}
#rightcontainer {
  position: relative;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 25px;
  padding-left: 15px;
  margin-top: 50px;
  width: 600px;
  background-image: url("./assets/Abstract Design2.png");
  background-repeat: no-repeat;
  background-position: right top;
  top: 0px;
  right: 0px;
  gap: 10px;
}

.diffcolor {
  color: #caff33;
}
#para1 {
  font-weight: lighter;
}
.button {
  border-radius: 25px;
  background-color: #caff33;
  color: black;
  height: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#creditcheck {
  background-color: #2f2c2c;
  border-radius: 30px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#creditcheck p {
  font-size: x-small;
}
body {
  background-color: #1c1c1c;
}

#inr img {
  width: 20px;
  height: 20px;
}
#usd img {
  width: 20px;
  height: 20px;
}
#row1 p {
  font-size: smaller;
  font-weight: lighter;
}
#row2 p {
  font-size: smaller;
  font-weight: lighter;
}
#transactions {
  border-color: black;
  border-radius: 15px;
  border-style: groove;
  padding: 10px 15px;
  max-width: max-content;
  background-color: #1c1c1c;
}

#exchangebutton {
  margin-top: 10px;
  border-radius: 25px;
  background-color: #22251b;
  color: #caff33;
  align-items: center;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}

#country {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}
#inr {
  display: flex;
  gap: 10px;
}
#usd {
  display: flex;
  gap: 10px;
}
.box_style {
  max-width: 100%;
  padding-left: 20px;
  border-style: solid;
  padding-top: 10px;
}

#indian {
  border-top-left-radius: 15px;
}
#american {
  border-top-right-radius: 15px;
}
#conversion {
  display: flex;
}
#indian1 {
  border-bottom-left-radius: 15px;
}
#american1 {
  border-bottom-right-radius: 15px;
}
#support {
  display: flex;
  align-items: center;
  background-color: #22251b;
  max-width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-left: 180px;
}
#Login {
  background-color: #caff33;
  border-radius: 25px;
  width: 45px;
  color: black;
  font-size: smaller;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.services {
  color: white;
  padding-left: 100px;
}
#green {
  color: #caff33;
}
.services p {
  font-size: medium;
  color: white;
}
.servicecontainer {
  display: flex;
  justify-content: space-around;
  color: white;
  max-width: 100%;
}
#cont {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  border-right: #caff33 1px solid;
}
#cont:last-child {
  border-right: transparent 1px solid;
}
#cont img {
  height: 60px;
  width: 60px;
}
#income {
  display: flex;
  justify-content: space-between;
  width: 160px;
  background-color: #2f2c2c;
  border-radius: 5px;
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 5px 5px;
}
.left {
  display: flex;
  align-items: center;
}

/* new styles */

#heading {
  color: #caff33;
}

body {
  background-color: #1a1a1a;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#maingrid {
  display: grid;
  width: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100vh;
  grid-gap: 30px;
  margin-top: 50px;
}
#grid1 {
  background-color: #1c1c1c;
  background-image: url("Abstract Design21.png");
  padding: 60px;
  background-repeat: no-repeat;
  border-radius: 15px;
  border-style: solid 1px grey;
}
#grid2 {
  background-color: #1a1a1a;
  color: #fff;
  padding: 30px;
}
#grid3 {
  background-color: #1a1a1a;
  color: #fff;
  padding: 30px;
}
#grid4 {
  background-color: #1c1c1c;
  background-image: url("Abstract Design22.png");
  background-position: top right;
  padding: 60px;
  background-repeat: no-repeat;
  border-radius: 15px;
  border-style: solid 1px grey;
}
#grid11 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;

  color: black;
}
#mpf {
  background-color: #1a1a1a;
  border-radius: 10px;
  border: solid, 1px, #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

#mpf h3 {
  color: #fff;
}
#contt h2 {
  color: #caff33;
}

#individualmain {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
#contt {
  border-right: dashed 1px grey;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
  width: 25%;
}
#contt h3 {
  color: #caff33;
}
#contt:last-child {
  border-right: transparent 1px dashed;
}
#learnmore {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  border: grey solid 1px;
  border-radius: 15px;
  max-width: 100px;
  margin-top: 20px;
}
#learnmore:hover {
  background-color: grey;
}
#learnmore:active {
  background-color: #caff33;
}

#grid44 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}
#mpf img {
  width: 60px;
}
.page2 {
  padding-left: 50px;
  margin-top: 100px;
}
.page2 p{
  color: white;

}
#signup {
  cursor: pointer;
  text-decoration: none;
}
.bgoverlay {
  display: none;
  background-color: #1a1a1a;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  justify-content: center;
  align-items: center;
}
#overlaycontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: #58622d;
  border-radius: 15px;
  background-image: url("assets/Abstract\ Design21.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#signupcontainer {
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: #58622d;
  border-radius: 15px;
  background-image: url("assets/Abstract\ Design.png");

}
#input-values {
  display: flex;
  justify-content: space-around;
}
#btn {
  width: 100px;
  display: flex;
  justify-content: center;
  padding-left: 40%;
  
}
#buttton{
  background-color: #caff33;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#successmg {
  display: none;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* background-image: url("assets/Abstract\ Design.png"); */
}
#Logging-in{
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: #58622d;
  border-radius: 15px;
  /* padding-top: 35%;
  padding-bottom: 35%; */
  background-image: url("assets/Abstract\ Design.png");
  background-repeat: no-repeat;
  

}
#welcomemsg{
  display: none;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* background-image: url("assets/Abstract\ Design.png"); */
}
#error{
  display: none;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* background-image: url("assets/Abstract\ Design.png"); */
}
#popupheading{
  display: flex;
  justify-content: center;
  color: #caff33;
  
  
}
#input-values input{
  background-color: #e9e7eb;
  width: 250px;
  height: 35px;
  border-radius: 16px;
}
#input-values{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
label{
  font-weight: bold;
  width: 80px;
  color: #fff;
}
#p-error{
  color: red;
}
#m-error{
  color: red;
}
#smallletter{
  display:none;
  color: red;
}
#capitalletter{
  display:none;
  color: red;
}
#number{
  display:none;
  color: red;
}
#u-error{
  color:red;
  display: none;
}
#e-error{
  color: red;
}
#phonemessage{
  color: red;
  display: none;
}
#logout{
  
    background-color: rgb(245, 44, 44);
    border-radius: 25px;
    width: 55px;
    color: white;
    font-size: smaller;
    display: flex;
    justify-content: center;
    cursor: pointer;
  
  
}
#withdrawmsg{
  display: none;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#depomsg{
  display: none;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#Depositcontainer {
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: #58622d;
  border-radius: 15px;
  background-image: url("assets/Abstract\ Design.png");

}
#Depositcontainer h1{
  color: white;
  text-align: center;
}
#Withdrawcontainer h1{
  color: white;
  text-align: center;
}
#Depositwarning{
  color: red;
  display: none;
}
#Depositpasswarning{
  color: red;
  display: none;

}
#Withdrawcontainer {
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: #58622d;
  border-radius: 15px;
  background-image: url("assets/Abstract\ Design.png");

}
#transdetail{
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #58622d;
  border-radius: 15px;
  background-image: url("assets/Abstract\ Design.png");

}
#transdetail h1{
  align-self: center;
}
#balance{
  display: none;
  justify-content: center;
  color: white;
}
#transaction{
  color: white;
  

}
#transaction_box{
  display: flex;
  justify-content: space-between;
  border: 4px dashed rgb(82, 137, 9);
  margin-bottom: 15px;
  border-radius: 25px;
  /* flex-direction: column; */
  
}
#transaction{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#transaction_box p{
  padding: 10px;

}
#closebutton img{
  width: 25px;
  height: 25px;
  
}
#closebutton{
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color:#caff33;
  border-radius: 25px;
  height: 8px;
  width: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 