.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #353434;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}

.img{
    position: fixed;
    top: 0;
    left: 0;
}

#topcontainer{
    display: flex;
    justify-content: center;
    
    
}
.logo{
    display: flex;
    align-items: center;
    
    
    
}
.details,.authentication{
    display: flex;
    gap: 20px;
    
}
#herosection{
    display: flex;
    justify-content:space-around;
    background-color:#1C1C1C;
    color: white;
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 50px;
}
.leftcontainer{
    background-color:#1C1C1C;
    padding-left: 30px;
}
#rightcontainer{
    position: relative;
    background-color:#1C1C1C;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 25px;
    padding-left: 15px;
    margin-top: 50px;
    width: 600px;
    background-image: url("Abstract Design2.png");
    background-repeat: no-repeat;
    background-position: right top;
    top: 0px;
    right: 0px;
    gap: 10px;
    

}



.diffcolor{
    color: #CAFF33;
}
#para1{
    font-weight:lighter;
    
}
.button{
    border-radius: 25px;
    background-color: #CAFF33;
    color: black;
    height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#creditcheck{
    background-color: #2f2c2c;
    border-radius: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#creditcheck p{
    font-size: x-small;
}
body{
    background-color: #1C1C1C;
}

#inr img{
    width: 20px;
    height: 20px;
}
#usd img{
    width: 20px;
    height: 20px;
}
#row1 p{
    font-size: smaller;
    font-weight: lighter;

}
#row2 p{
    font-size: smaller;
    font-weight: lighter;

}
#transactions{
    border-color: black;
    border-radius: 15px;
    border-style: groove;
    padding: 10px 15px;
    max-width: max-content;
    background-color: #1C1C1C;
   
    
}

#exchangebutton{
    margin-top: 10px;
    border-radius: 25px;
    background-color:  #22251B;
    color: #CAFF33;
    align-items: center;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

#country{
    display:grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    
}
#inr{
    display: flex;
    gap: 10px;
}
#usd{
    display: flex;
    gap: 10px;
}
.box_style{
    max-width: 100%;
    padding-left: 20px;
    border-style: solid;
    padding-top: 10px;
}

#indian{
    border-top-left-radius: 15px;  
}
#american{
    border-top-right-radius: 15px;
}
#conversion{
    display: flex;
}
#indian1{
border-bottom-left-radius: 15px;
}
#american1{
    border-bottom-right-radius: 15px;

}
#support{
    display: flex;
    align-items: center;
    background-color: #22251B;
    max-width: max-content;
padding-left: 10px;
padding-right: 10px;
border-radius: 25px;
margin-left: 180px;
}
#Login{
    background-color: #CAFF33;
    border-radius: 25px;
    width: 45px;
    color: black;
    font-size: smaller;
    display: flex;
    justify-content: center;
}

.services{
    color: white;
    padding-left: 100px;
}
#green{
    color: #CAFF33;

}
.services p{
    font-size: medium;
}
.servicecontainer{
    display: flex;
 justify-content: space-around;
    color: white;
    max-width: 100%;
}
#cont{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    border-right: #CAFF33 1px solid;   
}
#cont:last-child{
    border-right: transparent 1px solid;   
}
#cont img{
    height: 60px;
    width: 60px;
}
#income{
    display: flex;
    justify-content: space-between;
    width: 160px;
    background-color: #2f2c2c;
    border-radius: 5px;
    position: absolute;
    top: -20px;
    left: -20px;
    padding: 5px 5px;
}
.left{
    display: flex;
    align-items: center;
}




